@model WebSelling.Models.User

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_ViewProfileUser.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User_LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User_LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User_Token)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User_Token)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User_Activate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User_Activate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User_Pass)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User_Pass)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User_Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User_Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User_Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User_Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User_Role)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User_Role)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User_LinkF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User_LinkF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User_Img)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User_Img)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User_DateCreate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User_DateCreate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User_DateLogin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User_DateLogin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User_DateBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User_DateBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User_Sex)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User_Sex)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User_Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User_Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City.City_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City.City_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Province.Province_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Province.Province_Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
