@using WebSelling.Models;
@model User
<link href="~/Content/Layout/css/InforUser.css" rel="stylesheet" />
<style>
    .content {
        text-overflow: ellipsis;
        overflow: hidden;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        font-weight: initial;
    }

    .social-card-header {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: center;
        justify-content: center;
        height: 96px;
    }

        .social-card-header i {
            font-size: 32px;
            color: #FFF;
        }

    .bg-facebook {
        background-color: #3b5998;
    }

    .text-facebook {
        color: #3b5998;
    }

    .bg-google-plus {
        background-color: #dd4b39;
    }

    .text-google-plus {
        color: #dd4b39;
    }

    .bg-twitter {
        background-color: #1da1f2;
    }

    .text-twitter {
        color: #1da1f2;
    }

    .bg-pinterest {
        background-color: #bd081c;
    }

    .text-pinterest {
        color: #bd081c;
    }

    .share:hover {
        text-decoration: none;
        opacity: 0.8;
    }
</style>
@Html.Action("Css", "Home")
@Html.Action("Menu", "Menu")
<body style="background-color: #f1f1f1">
    <div class="container">
        <div class="row mt--7 mb-3">
            <div class="col-md-6" style="background-color: #ffffff;  border-radius: 5px">
                <div class="row" style="margin-top: 3%">
                    <div class="image-circle col-md-3">
                        <img src="~/Content/Image/@Model.User_Img" />
                    </div>
                    <div class="col-md-9">
                        <h5 style="font-weight: 700">@Model.User_LastName @Model.User_Name</h5>
                        <div class="row">
                            <div class="col-md-6">
                                <a href="#" style="color: black; font-size: 13px; text-decoration-line: underline"><b>0 </b>Người theo dõi</a>
                            </div>
                            <div class="col-md-6">
                                <a href="#" style="color: black; font-size: 13px; text-decoration-line: underline"><b>0 </b>Đang theo dõi</a>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-12">
                                <center><a href="" class="ui inverted green button" style="border-radius: 60px"><i class="fa fa-plus" style="color: black"> Theo Dõi</i></a></center>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 verticalLine" style="background-color: #ffffff;  border-radius: 5px">
                <div class="row">
                    <div class="col-md-4 mt-3">
                        <i class="fa fa-star-o"> Đánh giá: </i>
                    </div>
                    <div class="col-md-8 mt-3">
                        <span style="font-size: 13px">Chưa có đánh giá</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 mt-3">
                        <i class="fa fa-calendar"> Ngày tham gia: </i>
                    </div>
                    <div class="col-md-8 mt-3">
                        <span style="font-size: 13px">@Model.User_DateCreate.Value.ToShortDateString()</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 mt-3">
                        <i class="fa fa-location-arrow"> Địa chỉ: </i>
                    </div>
                    <div class="col-md-8 mt-3">
                        <span style="font-size: 13px">@Model.User_Address @Model.Province.Province_Name @Model.City.City_Name</span>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-4 mt-3">
                        <i class="fa fa-comment"> Phản hồi: </i>
                    </div>
                    <div class="col-md-8 mt-3">
                        <span style="font-size: 13px">Chưa có phản hồi</span>
                    </div>
                </div>
            </div>
        </div>
        <!--Product-->
        <div class="row" style="background-color: #ffffff; border-radius: 5px">
            <div class="col-md-12" style="margin: 2%">
                @if (Model.Products.Count == 0)
                {
                    <span style="font-weight: 600; color: black">Đang Bán - </span><span>0 Sản Phẩm</span>
                }
                else
                {
                    <span style="font-weight: 600; color: black">Đang Bán - </span><span>@Model.Products.Count Sản Phẩm</span>
                }
                <hr />
            </div>
            <div class="container-fluid mt--3">
                @{
                    WebSellingEntities db = new WebSellingEntities();
                }
                @{
                    List<Product> product = db.Products.Where(n => n.User_ID == Model.User_ID && n.Product_Activate == true).OrderByDescending(n => n.Product_DateCreate).ToList();
                }
                @if (Model.Products.Count != 0)
                {
                    <div class="ui divided items">
                        @foreach (var item in product)
                        {
                            <div class="item">
                                <div class="ui small image">
                                    <img src="~/Content/Image/@item.Product_Img" style="width: 100%; height: 100%">
                                </div>
                                <div class="content">
                                    <div class="header">@item.Product_Name</div>
                                    <div class="meta">
                                        <span class="price">@{float price = (float)item.Product_Price;} @price.ToString("#,##0") VNĐ</span>
                                        <span class="stay">Ngày Đăng: @item.Product_DateCreate.Value.Day/@item.Product_DateCreate.Value.Month/@item.Product_DateCreate.Value.Year</span>
                                    </div>
                                    <div class="description">
                                        <p class="content">@Html.Raw(item.Product_Description)</p>
                                    </div>
                                    <div class="extra">
                                        <div class="ui right floated blue button">
                                            Chỉnh Sửa Sản Phẩm
                                            <i class="right chevron icon" style="color: #fff"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <center>
                        <button class="ui inverted green button" data-toggle="modal" data-target="#createProduct" style="height: 50px; width: 50%">Đăng Tin</button>
                    </center>
                }
                else
                {
                    <center>
                        <div class="alert alert-warning" style="height: 70px; width: 50%; background-color: #db972b">Bạn chưa có tin đăng cá nhân nào đang bán, thử đăng bán ngay.</div>
                        <button class="ui inverted green button" data-toggle="modal" data-target="#createProduct" style="height: 50px; width: 50%">Đăng Tin</button>
                    </center>
                }
            </div>
        </div>
    </div>
</body>
