@using WebSelling.Models;
@model User
@{
    User user = (User)Session["user"];
}
<style>
    .content {
        text-overflow: ellipsis;
        overflow: hidden;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        font-weight: initial;
    }

    .social-card-header {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: center;
        justify-content: center;
        height: 96px;
    }

        .social-card-header i {
            font-size: 32px;
            color: #FFF;
        }

    .bg-facebook {
        background-color: #3b5998;
    }

    .text-facebook {
        color: #3b5998;
    }

    .bg-google-plus {
        background-color: #dd4b39;
    }

    .text-google-plus {
        color: #dd4b39;
    }

    .bg-twitter {
        background-color: #1da1f2;
    }

    .text-twitter {
        color: #1da1f2;
    }

    .bg-pinterest {
        background-color: #bd081c;
    }

    .text-pinterest {
        color: #bd081c;
    }

    .share:hover {
        text-decoration: none;
        opacity: 0.8;
    }
</style>
@Html.Action("Css", "Home")
@Html.Action("Menu", "Menu")
<script src="https://cdn.ckeditor.com/ckeditor5/23.0.0/classic/ckeditor.js"></script>
<link href="~/Content/Layout/css/InforUser.css" rel="stylesheet" />
<body style="background-color: #f1f1f1; font-family: 'Segoe UI'">
    <div class="container">
        <div class="row mt--7 mb-3">
            <div class="col-md-6" style="background-color: #ffffff;  border-radius: 5px">
                <div class="row" style="margin-top: 3%">
                    <div class="image-circle col-md-3">
                        <img src="~/Content/Image/@user.User_Img" />
                    </div>
                    <div class="col-md-9">
                        <h5 style="font-weight: 700">@user.User_LastName @user.User_Name</h5>
                        <div class="row">
                            <div class="col-md-6">
                                <a href="#" style="color: black; font-size: 13px; text-decoration-line: underline"><b>0 </b>Người theo dõi</a>
                            </div>
                            <div class="col-md-6">
                                <a href="#" style="color: black; font-size: 13px; text-decoration-line: underline"><b>0 </b>Đang theo dõi</a>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-12">
                                <center><a href="@Url.Action("Info", "Account")" class="ui inverted green button" style="border-radius: 60px"><i class="fa fa-pencil" style="color: black"> Chỉnh sửa thông tin cá nhân</i></a></center>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 verticalLine" style="background-color: #ffffff;  border-radius: 5px">
                <div class="row">
                    <div class="col-md-4 mt-3">
                        <i class="fa fa-star-o"> Đánh giá: </i>
                    </div>
                    <div class="col-md-8 mt-3">
                        <span style="font-size: 13px">Chưa có đánh giá</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 mt-3">
                        <i class="fa fa-calendar"> Ngày tham gia: </i>
                    </div>
                    <div class="col-md-8 mt-3">
                        <span style="font-size: 13px">@user.User_DateCreate.Value.ToShortDateString()</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 mt-3">
                        <i class="fa fa-location-arrow"> Địa chỉ: </i>
                    </div>
                    <div class="col-md-8 mt-3">
                        <span style="font-size: 13px">@user.User_Address @user.Province.Province_Name @user.City.City_Name</span>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-4 mt-3">
                        <i class="fa fa-comment"> Phản hồi: </i>
                    </div>
                    <div class="col-md-8 mt-3">
                        <span style="font-size: 13px">Chưa có phản hồi</span>
                    </div>
                </div>
            </div>
        </div>
        <!--Product-->
        <div class="row" style="background-color: #ffffff; border-radius: 5px">
            <div class="col-md-12" style="margin: 2%">
                @if (user.Products.Count == 0)
                {
                    <span style="font-weight: 600; color: black">Đang Bán - </span><span>0 Sản Phẩm</span>
                }
                else
                {
                    <span style="font-weight: 600; color: black">Đang Bán - </span><span>@user.Products.Count Sản Phẩm</span>
                }
                <hr />
            </div>
            <div class="container-fluid mt--3">
                @{
                    WebSellingEntities db = new WebSellingEntities();
                }
                @{
                    List<Product> product = db.Products.Where(n => n.User_ID == user.User_ID && n.Product_Activate == true).OrderByDescending(n => n.Product_DateCreate).ToList();
                }
                @if (user.Products.Count != 0)
                {
                    <div class="ui divided items">
                        @foreach (var item in product)
                        {
                            <div class="item">
                                <div class="ui small image">
                                    <img class="ui medium rounded image" src="~/Content/Image/@item.Product_Img" style="width: 100%; height: 180px">
                                </div>
                                <div class="content">
                                    <div class="header"><a href="@Url.Action("DetailsProduct", "Home", new { productid = item.Product_ID })">@item.Product_Name</a></div>
                                    <div class="meta">
                                        <span class="price" style="color: #bd081c"> @{float price = (float)item.Product_Price;} @price.ToString("#,##0") VNĐ</span>
                                        <span class="stay">Ngày Đăng: @item.Product_DateCreate.Value.Day/@item.Product_DateCreate.Value.Month/@item.Product_DateCreate.Value.Year</span>
                                    </div>
                                    <div class="description content">
                                        <div>
                                            @Html.Raw(item.Product_Description)
                                        </div>
                                    </div>
                                    <div class="extra">
                                        <a href="@Url.Action("EditProductUser", "Information", new { id = item.Product_ID})">
                                            <div class="ui right floated blue button">
                                                Chỉnh Sửa Sản Phẩm
                                                <i class="right chevron icon" style="color: #fff"></i>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <center class="mb-3">
                        <div class="ui success message">
                            <div class="header">
                                Bạn cần bán sản phẩm nào!
                            </div>
                            <p style="color: #2c662d">Hãy <a href="@Url.Action("CreateProductUser", "Information")" style="color: #2c662d; font-weight: 700"> Đăng Tin</a></p>
                        </div>
                    </center>
                }
                else
                {
                    <center class="mb-3">
                        <div class="ui success message">
                            <div class="header">
                                Bạn chưa có tin đăng cá nhân nào đang bán!
                            </div>
                            <p>Hãy thử đăng bán ngay nào.</p>
                        </div>
                        <a href="@Url.Action("CreateProductUser", "Information")" class="ui positive basic button" style="height: 50px; width: 50%">Đăng Tin</a>
                    </center>
                }
            </div>
        </div>
    </div>
</body>
<div class="copy-bottom bg-li py-4 border-top mt--5">
    <div class="container-fluid">
        <div class="d-md-flex px-md-3 position-relative text-center">
            <!-- footer social icons -->
            <div class="social-icons-footer mb-md-0 mb-3">
                <ul class="list-unstyled">
                    <li>
                        <a href="#">
                            <span class="fa fa-facebook"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="fa fa-twitter"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="fa fa-google-plus"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="fa fa-instagram"></span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- //footer social icons -->
            <!-- copyright -->
            <div class="copy_right mx-md-auto mb-md-0 mb-3">
                <p class="text-bl let">
                    © 2019 Startup. All rights reserved | Design by
                    <a href="http://w3layouts.com/" target="_blank">W3layouts</a>
                </p>
            </div>
            <!-- //copyright -->
            <!-- move top icon -->
            <a href="#home" class="move-top text-center">
                <span class="fa fa-level-up" aria-hidden="true"></span>
            </a>
            <!-- //move top icon -->
        </div>
    </div>
</div>
