@using WebSelling.Models;
@model List<Product>
@{
    ViewBag.Title = "DetailsCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Category cate = (Category)Session["category"];
}
<link href="~/Content/PagedList.css" rel="stylesheet" />
<style>
    .content {
        text-overflow: ellipsis;
        overflow: hidden;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        font-weight: initial;
    }

    a:hover {
        color: #525f7f;
    }
</style>
@Html.Action("Menu", "Menu")
<section style="color: #525F7F; margin-top: -5%">
    <div class="product-box">
        <div class="product-box-top" style="margin-left: 7.5%">
            @foreach (var item in Model)
            {
                <div class="product-box1" style="border: 2px solid #808080; border-radius: 5px; margin-top: 3%; margin-left: -2%">
                    <div class="product-box-img">
                        <img src="~/Content/Image/@item.Product_Img" alt="" style="width: 100%">
                        <h5>@item.Product_Name</h5>
                        <p class="content">@Html.Raw(item.Product_Description)</p>
                        <div class="product-box-bottom">
                            <p style="color: #e50000; font-weight: 500">@item.Product_Price VNĐ</p>
                            <a class="box-more" href="#" style="border-radius: 30px; background: #05B993; margin-left: 3%"><i class="fa fa-cart-plus"></i></a>
                            <a class="box-more" href="#" style="border-radius: 30px; background: #05B993">Xem</a>
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                </div>
            }
            <div class="clearfix"> </div>
        </div>
    </div>
</section>
<!-- middle -->
<section class="midd-w3 py-5" id="faq" style="margin-top: -5%">
    @Html.Action("KeyWork", "Home")
</section>
<!-- //middle -->
<!-- services -->
<section class="banner-bottom-w3layouts bg-li py-5" id="services">
    <div class="container py-xl-5 py-lg-3">
        <h3 class="tittle text-center font-weight-bold">Our Services</h3>
        <p class="sub-tittle text-center mt-3 mb-sm-5 mb-4">
            Sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation
        </p>
        <div class="row pt-lg-4">
            <div class="col-lg-4 about-in text-center">
                <div class="card">
                    <div class="card-body">
                        <div class="bg-clr-w3l">
                            <span class="fa fa-line-chart"></span>
                        </div>
                        <h5 class="card-title mt-4 mb-3">Business Growth</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur elit,Adipisicing elit tempor.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 about-in text-center my-lg-0 my-3">
                <div class="card active">
                    <div class="card-body">
                        <div class="bg-clr-w3l">
                            <span class="fa fa-usd"></span>
                        </div>
                        <h5 class="card-title mt-4 mb-3">Financial Planning</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur elit,Adipisicing elit tempor.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 about-in text-center">
                <div class="card">
                    <div class="card-body">
                        <div class="bg-clr-w3l">
                            <span class="fa fa-lightbulb-o"></span>
                        </div>
                        <h5 class="card-title mt-4 mb-3">Business Services</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur elit,Adipisicing elit tempor.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //services -->
<!-- partners -->
<section class="partners py-5" id="partners">
    <div class="container py-xl-5 py-lg-3">
        <h3 class="tittle text-center font-weight-bold">Our Partners</h3>
        <p class="sub-tittle text-center mt-3 mb-sm-5 mb-4">
            Sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation
        </p>
        <div class="row grid-part text-center pt-4">
            <div class="col-md-2 col-4">
                <div class="parts-w3ls">
                    <a href="#"><span class="fa fa-angellist"></span></a>
                    <h4>Angellist</h4>
                </div>
            </div>
            <div class="col-md-2 col-4">
                <div class="parts-w3ls">
                    <a href="#"><span class="fa fa-opencart"></span></a>
                    <h4>opencart</h4>
                </div>
            </div>
            <div class="col-md-2 col-4">
                <div class="parts-w3ls">
                    <a href="#"><span class="fa fa-lastfm"></span></a>
                    <h4>lastfm</h4>
                </div>
            </div>
            <div class="col-md-2 col-4 mt-md-0 mt-4">
                <div class="parts-w3ls">
                    <a href="#"><span class="fa fa-openid"></span></a>
                    <h4>openid</h4>
                </div>
            </div>
            <div class="col-md-2 col-4 mt-md-0 mt-4">
                <div class="parts-w3ls">
                    <a href="#"><span class="fa fa-skyatlas"></span></a>
                    <h4>skyatlas</h4>
                </div>
            </div>
            <div class="col-md-2 col-4 mt-md-0 mt-4">
                <div class="parts-w3ls">
                    <a href="#"><span class="fa fa-ravelry"></span></a>
                    <h4>ravelry</h4>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //partners -->
<!-- copyright bottom -->
<div class="copy-bottom bg-li py-4 border-top">
    <div class="container-fluid">
        <div class="d-md-flex px-md-3 position-relative text-center">
            <!-- footer social icons -->
            <div class="social-icons-footer mb-md-0 mb-3">
                <ul class="list-unstyled">
                    <li>
                        <a href="#">
                            <span class="fa fa-facebook"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="fa fa-twitter"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="fa fa-google-plus"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="fa fa-instagram"></span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- //footer social icons -->
            <!-- copyright -->
            <div class="copy_right mx-md-auto mb-md-0 mb-3">
                <p class="text-bl let">
                    © 2019 Startup. All rights reserved | Design by
                    <a href="http://w3layouts.com/" target="_blank">W3layouts</a>
                </p>
            </div>
            <!-- //copyright -->
            <!-- move top icon -->
            <a href="#home" class="move-top text-center">
                <span class="fa fa-level-up" aria-hidden="true"></span>
            </a>
            <!-- //move top icon -->
        </div>
    </div>
</div>



