@using WebSelling.Models
@model Product
@{
    ViewBag.Title = "DetailsProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
    User user = (User)Session["user"];
}
<style>
    .font{
        font-family: 'Segoe UI' !important;
    }
</style>
@Html.Action("Menu", "Menu")
@Html.Action("Css", "Home")
<body style="background-color: #f1f1f1">
    <!--Details Product-->
    <div class="mt-2 mb-2">
        <div class="container font" style="background-color: #ffffff">
            <div class="row">
                <div class="col-md-7">
                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" style="border: 2px solid #ffffff">
                        <div class="carousel-inner">
                            <div class="carousel-item active" style="margin-top: 3%">
                                <img class="d-block w-100" src="~/Content/Image/@Model.Product_Img" style="height: 365px" alt="First slide">
                            </div>
                            @for (int i = 0; i < 5; i++)
                            {
                                <div class="carousel-item" style="margin-top: 3%">
                                    <img class="d-block w-100" src="~/Content/Image/Docongnghe.jpg" style="height: 365px" alt="Second slide">
                                </div>
                            }
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                    <div style="margin-top: 2%; margin-bottom: 2%">
                        <span><b style="color: black; font-size: 26px">@Model.Product_Name</b></span>
                    </div>
                    <div class="row" style="color: #c90927">
                        <div class="col-md-5 mt-2">
                            <span style="font-weight: 700; font-size: 18px">@{float price = (float)Model.Product_Price;} @price.ToString("#,##0") VNĐ</span>
                        </div>
                        <div class="col-md-7">
                            <div class="row">
                                <div class="col-md-5">
                                    <a href="#" class="ui inverted red button" style="border-radius: 80px"><i class="fa fa-heart-o" style="color: #c90927"> Lưu Tin</i></a>
                                </div>
                                <div class="col-md-7">
                                    <a href="#" class="ui inverted red button" style="border-radius: 80px"> <i class="fa fa-cart-plus"> Thêm Vào Giỏ</i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12" style="color: black">
                        <span><b style="color: black; font-size: 16px">Mô tả sản phẩm: </b></span>
                        <div>
                            @Html.Raw(@Model.Product_Description)
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <span><b style="color: black; font-size: 16px">Chi tiết sản phẩm: </b></span>
                        <div>
                            @Html.Raw(@Model.Product_Detail)
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <span><b style="color: black; font-size: 15px">Số điện thoại liên hệ: </b></span> <a href="tel: @Model.User.User_Phone" style="color: #c90927">@Model.User.User_Phone</a>
                    </div>
                    <div class="col-lg-12" style="margin-bottom: 3%">
                        <span><i class="fa fa-map-marker"></i> <b style="color: black; font-size: 16px">Khu vực</b></span>
                        <p style="color: black">@Model.User.Province.Province_Name, @Model.User.Province.City.City_Name</p>
                    </div>
                </div>
                <div class="col-md-5" style="margin-top: 2%">
                    <div class="row">
                        <div class="col-md-2">
                            <a href="javascript:;" class="avatar avatar-lg rounded-circle">
                                <img alt="Image placeholder" src="~/Content/Image/@Model.User.User_Img" style="width: 100%; height: 100%">
                            </a>
                        </div>
                        <div class="col-md-5" style="margin-top: 1%">
                            <span><b style="color: black; font-size: 14px">@Model.User.User_LastName @Model.User.User_Name</b></span>
                        </div>
                        <div class="col-md-5">
                            @if (user != null && user.User_ID == Model.User_ID)
                            {
                                <a href="@Url.Action("MyInforUser", "Information")" class="ui inverted green button" style="border-radius: 60px"><i class="fa fa-star-o" style="color: black"> Xem cửa hàng</i></a>
                            }
                            else
                            {
                                <a href="@Url.Action("InforUser", "Information", new { id = Model.User_ID})" class="ui inverted green button" style="border-radius: 60px"><i class="fa fa-star-o" style="color: black"> Xem cửa hàng</i></a>
                            }
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4" style="border-right: 1px solid #e5e5e5">
                            <center>
                                <p style="font-size: 15px; font-weight: 600">Người Dùng</p>
                                <svg id="Capa_1" enable-background="new 0 0 512 512" height="40px" viewBox="0 0 512 512" width="40px" xmlns="http://www.w3.org/2000/svg"><g><path d="m256 0c-141.159 0-256 114.841-256 256s114.841 256 256 256 256-114.841 256-256-114.841-256-256-256zm0 482c-124.617 0-226-101.383-226-226s101.383-226 226-226 226 101.383 226 226-101.383 226-226 226z" /><path d="m256 270c57.897 0 105-47.103 105-105s-47.103-105-105-105-105 47.103-105 105 47.103 105 105 105zm0-180c41.355 0 75 33.645 75 75s-33.645 75-75 75-75-33.645-75-75 33.645-75 75-75z" /><path d="m424.649 335.443c-19.933-22.525-48.6-35.443-78.649-35.443h-180c-30.049 0-58.716 12.918-78.649 35.443l-7.11 8.035 5.306 9.325c34.817 61.187 100.131 99.197 170.453 99.197s135.636-38.01 170.454-99.198l5.306-9.325zm-168.649 86.557c-55.736 0-107.761-28.197-138.383-74.295 13.452-11.352 30.579-17.705 48.383-17.705h180c17.804 0 34.931 6.353 48.383 17.705-30.622 46.098-82.647 74.295-138.383 74.295z" /></g></svg>
                            </center>
                        </div>
                        <div class="col-md-4" style="border-right: 1px solid #e5e5e5">
                            <center>
                                <p style="font-size: 15px; font-weight: 600">Đánh giá</p>
                                <svg id="Capa_1" enable-background="new 0 0 512.529 512.529" height="40px" viewBox="0 0 512.529 512.529" width="40px" xmlns="http://www.w3.org/2000/svg"><g><path d="m334.028 306.328c-1.81-4.287-.916-9.243 2.276-12.628l35.21-37.324c6.599-6.996 8.917-16.68 6.2-25.904-2.716-9.225-9.911-16.107-19.247-18.411l-50.745-12.521c-3.516-.868-6.39-3.257-7.884-6.554l-19.693-43.455c-4.39-9.687-13.724-15.704-24.358-15.704-10.635 0-19.969 6.018-24.358 15.704l-19.693 43.454c-1.495 3.298-4.368 5.687-7.883 6.555l-50.746 12.521c-9.336 2.304-16.532 9.187-19.248 18.411s-.398 18.908 6.201 25.904l35.209 37.324c3.193 3.385 4.086 8.341 2.276 12.627l-14.854 35.173c-4.234 10.027-2.173 21.125 5.38 28.962 5.194 5.39 12.024 8.241 19.092 8.24 3.21 0 6.471-.588 9.649-1.794l5.311-2.014c3.873-1.469 5.822-5.799 4.354-9.672s-5.799-5.823-9.672-4.354l-5.312 2.015c-4.538 1.719-9.254.662-12.621-2.831s-4.25-8.247-2.363-12.717l14.854-35.174c4.122-9.76 2.087-21.047-5.183-28.755l-35.209-37.324c-2.897-3.072-3.916-7.324-2.723-11.375s4.353-7.073 8.452-8.085l50.747-12.521c8.004-1.977 14.547-7.416 17.95-14.925l19.693-43.455c1.957-4.317 5.956-6.896 10.696-6.896s8.739 2.578 10.696 6.896l19.693 43.456c3.403 7.508 9.946 12.948 17.951 14.924l50.746 12.521c4.1 1.012 7.26 4.034 8.452 8.085s.175 8.303-2.724 11.375l-35.21 37.325c-7.27 7.707-9.304 18.993-5.183 28.755l14.854 35.173c1.888 4.47 1.005 9.224-2.362 12.717-3.366 3.495-8.086 4.553-12.621 2.83l-54.808-20.793c-6.117-2.32-12.854-2.32-18.972 0l-19.538 7.412c-3.873 1.47-5.821 5.8-4.352 9.673 1.469 3.872 5.799 5.822 9.672 4.353l19.537-7.412c2.686-1.02 5.646-1.02 8.333 0l54.806 20.792c10.176 3.863 21.189 1.392 28.744-6.445 7.553-7.838 9.613-18.936 5.379-28.962z" /><path d="m130.373 269.479-28.388-7.005c-.978-.241-1.776-.905-2.192-1.822l-11.017-24.31c-2.998-6.616-9.373-10.726-16.636-10.726s-13.638 4.109-16.636 10.726l-11.017 24.31c-.416.917-1.214 1.581-2.192 1.822l-28.389 7.005c-6.376 1.573-11.291 6.273-13.146 12.574s-.271 12.915 4.235 17.692l19.696 20.88c.888.941 1.137 2.319.633 3.511l-8.309 19.677c-2.892 6.849-1.484 14.428 3.674 19.78 3.547 3.681 8.212 5.628 13.04 5.628 2.193 0 4.42-.401 6.59-1.225l30.66-11.632s.001-.001.001-.001c.746-.283 1.568-.284 2.316.001l30.66 11.632c6.949 2.634 14.472.949 19.631-4.403 5.158-5.353 6.566-12.933 3.674-19.78l-8.31-19.676c-.503-1.192-.254-2.571.633-3.512l19.698-20.88c4.506-4.778 6.09-11.393 4.234-17.692-1.852-6.301-6.767-11.001-13.143-12.574zm-2 19.973-19.698 20.881c-4.964 5.264-6.354 12.973-3.539 19.639l8.31 19.677c.729 1.727-.099 2.956-.657 3.535-.559.579-1.756 1.453-3.51.787l-30.66-11.631c-2.089-.793-4.284-1.189-6.479-1.189s-4.391.396-6.479 1.189l.001-.001-30.661 11.632c-1.75.667-2.95-.207-3.509-.787-.558-.579-1.386-1.809-.657-3.535l8.309-19.677c2.815-6.666 1.426-14.375-3.54-19.64l-19.697-20.88c-1.12-1.187-.955-2.491-.757-3.163s.766-1.856 2.35-2.248l28.389-7.005c5.467-1.349 9.936-5.064 12.26-10.193l11.017-24.31c.756-1.668 2.188-1.917 2.974-1.917s2.218.249 2.974 1.917l11.017 24.31c2.324 5.129 6.793 8.845 12.26 10.193l28.389 7.005c1.583.392 2.152 1.576 2.35 2.248s.362 1.977-.757 3.163z" /><path d="m507.575 299.746c6.574-6.969 6.609-17.939.079-24.978-2.819-3.036-7.563-3.213-10.6-.396-3.036 2.817-3.214 7.563-.396 10.6 1.018 1.097 1.366 3.039.006 4.48l-19.695 20.88c-4.967 5.264-6.356 12.973-3.541 19.64l8.31 19.677c.729 1.727-.099 2.956-.656 3.535s-1.754 1.455-3.51.787l-30.661-11.633c-4.177-1.583-8.777-1.585-12.956 0l-30.66 11.633c-1.752.665-2.951-.208-3.51-.787s-1.386-1.809-.657-3.535l8.31-19.677c2.815-6.666 1.426-14.375-3.539-19.639l-19.699-20.881c-1.12-1.187-.955-2.49-.758-3.162.198-.672.767-1.856 2.351-2.248l28.385-7.005c5.469-1.348 9.938-5.063 12.264-10.194l11.017-24.31c.756-1.668 2.188-1.917 2.975-1.917s2.218.249 2.974 1.917l11.018 24.31c2.325 5.132 6.795 8.847 12.258 10.193l2.284.564c4.018.996 8.086-1.461 9.08-5.482.993-4.021-1.461-8.086-5.482-9.08l-2.288-.565c-.976-.24-1.773-.904-2.189-1.821l-11.018-24.31c-2.997-6.615-9.372-10.726-16.635-10.726-.001 0-.001 0-.001 0-7.264 0-13.639 4.109-16.637 10.726l-11.017 24.31c-.416.917-1.214 1.581-2.192 1.822l-28.388 7.006c-6.377 1.573-11.291 6.273-13.146 12.574-1.854 6.3-.271 12.914 4.235 17.691l19.698 20.881c.887.94 1.135 2.318.632 3.51l-8.31 19.678c-2.892 6.848-1.483 14.427 3.675 19.779 5.159 5.353 12.681 7.038 19.631 4.403l30.659-11.633c.748-.283 1.571-.283 2.317 0l30.66 11.633c2.171.823 4.397 1.225 6.59 1.225 4.828 0 9.493-1.947 13.041-5.628 5.158-5.353 6.565-12.932 3.674-19.78l-8.31-19.677c-.503-1.191-.255-2.568.634-3.51z" /></g></svg>
                            </center>
                        </div>
                        <div class="col-md-4">
                            <center>
                                <p style="font-size: 15px; font-weight: 600">Phản hồi</p>
                                <svg id="Line" height="40px" viewBox="0 0 64 64" width="40px" xmlns="http://www.w3.org/2000/svg"><path d="m60 13h-38a3 3 0 0 0 -3 3v14a3 3 0 0 0 3 3h12.586l5.707 5.707a1 1 0 0 0 1.707-.707v-5h18a3 3 0 0 0 3-3v-14a3 3 0 0 0 -3-3zm-4 14h-21a1 1 0 0 1 0-2h21a1 1 0 0 1 0 2zm0-6h-30a1 1 0 0 1 0-2h30a1 1 0 0 1 0 2z" fill="#c4a2fc" /><path d="m62 61h-2v-2a10.013 10.013 0 0 0 -6.085-9.2 7 7 0 1 0 -7.83 0 10.013 10.013 0 0 0 -6.085 9.2v2h-26a1 1 0 0 0 0 2h48a1 1 0 0 0 0-2z" fill="#c4a2fc" /><g fill="#151a6a"><path d="m48 1h-44a3 3 0 0 0 -3 3v14a3 3 0 0 0 3 3h21v5a1 1 0 0 0 1.707.707l5.707-5.707h15.586a3 3 0 0 0 3-3v-14a3 3 0 0 0 -3-3zm1 17a1 1 0 0 1 -1 1h-16a1 1 0 0 0 -.707.293l-4.293 4.293v-3.586a1 1 0 0 0 -1-1h-22a1 1 0 0 1 -1-1v-14a1 1 0 0 1 1-1h44a1 1 0 0 1 1 1z" /><path d="m44 7h-36a1 1 0 0 0 0 2h36a1 1 0 0 0 0-2z" /><path d="m32 13h-24a1 1 0 0 0 0 2h24a1 1 0 0 0 0-2z" /><path d="m38 51a1 1 0 0 0 0-2h-14v-2a10.013 10.013 0 0 0 -6.085-9.2 7 7 0 1 0 -7.83 0 10.013 10.013 0 0 0 -6.085 9.2v2h-2a1 1 0 0 0 0 2zm-29-19a5 5 0 1 1 5 5 5.006 5.006 0 0 1 -5-5zm-3 15a8 8 0 0 1 16 0v2h-16z" /></g></svg>
                            </center>
                        </div>
                    </div>
                    <div style=" border-bottom: 1px solid #e5e5e5; margin-top: 3%"></div>
                    <center class="mb-3">
                        <a href="tel: @Model.User.User_Phone" class="btn-lg btn-block btn btn-outline-success" style="margin-top: 3%; height: 40px; padding: 3px 15px 0; width: 30%">
                            <span style="float: right; padding: 3px 0px 0; color: black">
                                <svg height="30" viewBox="0 0 511.99989 511" width="30" xmlns="http://www.w3.org/2000/svg"><path d="m510.628906 229.679688c-6.046875-58.136719-32.1875-112.960938-73.597656-154.375-48.238281-48.238282-112.527344-74.804688-181.023438-74.804688-68.5 0-132.789062 26.566406-181.027343 74.804688-48.351563 48.355468-74.980469 112.644531-74.980469 181.023437 0 68.382813 26.628906 132.671875 74.984375 181.023437 48.351563 48.355469 112.640625 74.984376 181.023437 74.984376 4.199219 0 7.601563-3.40625 7.601563-7.605469s-3.402344-7.601563-7.601563-7.601563c-64.320312 0-124.789062-25.046875-170.269531-70.53125-45.480469-45.480468-70.53125-105.949218-70.53125-170.269531 0-64.316406 25.046875-124.789063 70.527344-170.269531 45.367187-45.367188 105.835937-70.351563 170.273437-70.351563 64.433594 0 124.902344 24.984375 170.269532 70.351563 38.949218 38.953125 63.535156 90.515625 69.226562 145.195312 5.609375 53.90625-7.214844 108.628906-36.117187 154.089844-6.078125 9.5625-15.996094 15.753906-27.214844 16.988281-8.542969.941407-16.960937-1.121093-23.992187-5.710937l17.363281-17.367188c10.339843-10.339844 10.339843-27.164062 0-37.5l-6.6875-6.691406c-2.972657-2.96875-7.785157-2.96875-10.753907 0-2.972656 2.96875-2.972656 7.78125 0 10.753906l6.6875 6.691406c4.410157 4.410157 4.410157 11.585938 0 15.992188l-14.347656 14.351562-67.5-67.5 14.355469-14.351562c4.40625-4.410156 11.582031-4.410156 15.992187-.003906l19.472657 19.476562c2.96875 2.972656 7.78125 2.972656 10.753906.003906 2.96875-2.972656 2.96875-7.785156 0-10.753906l-19.472656-19.476562c-10.339844-10.339844-27.164063-10.339844-37.503907 0l-25.683593 25.683594c-10.304688 10.304687-27.078125 10.304687-37.382813 0l-77.066406-77.066407c-4.992188-4.992187-7.742188-11.632812-7.742188-18.695312 0-7.058594 2.75-13.699219 7.738282-18.6875l5.882812-5.882813c.023438-.023437.050782-.042968.074219-.070312.027344-.023438.046875-.050782.070313-.074219l19.660156-19.660156c10.335937-10.339844 10.335937-27.160157 0-37.5l-51.511719-51.503907c-10.339844-10.335937-27.160156-10.335937-37.5 0l-19.695313 19.699219c-.011718.007813-.023437.019531-.035156.027344-.011718.015625-.023437.03125-.039062.046875-22.320313 22.339844-34.613282 52.027344-34.613282 83.609375 0 31.601563 12.308594 61.3125 34.65625 83.65625l26.453126 26.449219c2.96875 2.972656 7.78125 2.972656 10.75 0 2.972656-2.96875 2.972656-7.78125 0-10.75l-26.449219-26.453125c-19.472657-19.46875-30.199219-45.359375-30.199219-72.898438 0-24.988281 8.832031-48.621093 25.015625-67.332031l67.304687 67.304688-.574218.574218c-16.238282 16.238282-16.238282 42.65625 0 58.894532l77.066406 77.066406c8.117188 8.121094 18.78125 12.179687 29.445312 12.179687 10.664063-.003906 21.328126-4.058593 29.441407-12.175781l.582031-.582031 67.292969 67.292969c-11.261719 9.710937-24.519531 16.925781-38.757813 21.019531-9.398437 2.699219-18.980468 4.011719-28.492187 4.011719-26.996094 0-53.371094-10.597657-72.96875-30.203126l-72.851563-72.847656c-2.96875-2.96875-7.785156-2.96875-10.753906 0s-2.96875 7.78125 0 10.753906l72.851562 72.847657c22.492188 22.5 52.746094 34.660156 83.726563 34.660156 10.90625 0 21.910156-1.511719 32.6875-4.605469 15.238281-4.378906 29.496094-11.871094 41.824219-21.886718 10.527344 8.042968 23.699218 11.777343 37.089844 10.304687 15.828124-1.742187 29.820312-10.46875 38.386718-23.949219 30.730469-48.34375 44.371094-106.523437 38.40625-163.824218zm-381.144531-117.785157 14.351563-14.351562c4.410156-4.410157 11.582031-4.410157 15.992187 0l51.507813 51.5c4.410156 4.410156 4.410156 11.585937 0 15.996093l-14.351563 14.351563zm0 0" /><path d="m277.921875 174.269531c29.960937 0 54.335937 24.375 54.335937 54.335938 0 4.199219 3.402344 7.605469 7.601563 7.605469s7.605469-3.40625 7.605469-7.605469c0-38.347657-31.199219-69.542969-69.542969-69.542969-4.199219 0-7.605469 3.402344-7.605469 7.601562 0 4.203126 3.40625 7.605469 7.605469 7.605469zm0 0" /><path d="m277.921875 136.101562c51.007813 0 92.503906 41.496094 92.503906 92.503907 0 4.199219 3.402344 7.605469 7.601563 7.605469 4.199218 0 7.605468-3.40625 7.605468-7.605469 0-59.394531-48.320312-107.710938-107.710937-107.710938-4.199219 0-7.605469 3.402344-7.605469 7.605469 0 4.199219 3.40625 7.601562 7.605469 7.601562zm0 0" /><path d="m277.921875 98.324219c71.835937 0 130.28125 58.441406 130.28125 130.28125 0 4.199219 3.40625 7.605469 7.605469 7.605469 4.199218 0 7.601562-3.40625 7.601562-7.605469 0-80.222657-65.265625-145.488281-145.488281-145.488281-4.199219 0-7.605469 3.402343-7.605469 7.601562s3.40625 7.605469 7.605469 7.605469zm0 0" /></svg> @Model.User.User_Phone
                            </span>
                        </a>
                        <a href="" class="btn-lg btn-block btn btn-outline-success" style="margin-top: 3%; height: 40px; padding: 3px 15px 0; width: 75%">
                            <svg id="Capa_1" enable-background="new 0 0 511.965 511.965" style="margin-left: -30%" height="35px" viewBox="0 0 511.965 511.965" width="45px" xmlns="http://www.w3.org/2000/svg"><g><path d="m507.034 213.921c-2.097-19.098-17.548-33.937-36.739-35.283-16.719-1.175-33.463-2.111-49.761-2.782-35.997-1.512-72.264-1.907-108.498-1.205 2.022-41.118.777-82.703-3.712-123.739-1.995-18.214-16.728-32.368-35.03-33.655-62.027-4.345-124.839-5.227-186.68-2.622-5.133.209-10.356.453-15.527.724-4.137.217-7.314 3.746-7.097 7.882.217 4.137 3.763 7.309 7.882 7.097 5.113-.268 10.278-.509 15.363-.717 61.294-2.583 123.541-1.708 185.008 2.598 11.063.778 19.966 9.326 21.171 20.324 4.442 40.611 5.641 81.771 3.582 122.454-24.876.693-49.716 1.905-74.421 3.639-19.186 1.345-34.633 16.184-36.731 35.286-1.09 9.964-1.981 19.953-2.709 29.955-11.509.188-23.276.26-35.105.2-.045 0-.09 0-.135 0-8.07 0-15.595 3.91-20.144 10.47-13.027 18.745-34.629 37.055-50.457 49.114-2.796 2.131-5.54 1.151-6.589.632-1.051-.521-3.496-2.112-3.496-5.636v-33.88c0-12.858-10.045-23.617-22.948-24.498-.753-.043-1.503-.095-2.257-.147l-1.28-.087c-11.055-.776-19.963-9.355-21.18-20.393-6.063-55.458-6.06-111.682.01-167.108 1.206-10.996 10.114-19.544 21.242-20.327.461-.036.913-.063 1.374-.09 4.135-.244 7.29-3.793 7.046-7.928-.243-4.135-3.781-7.289-7.928-7.046-.559.033-1.106.066-1.605.106-18.307 1.286-33.043 15.44-35.039 33.654-6.188 56.51-6.192 113.831-.01 170.378 2.012 18.254 16.749 32.436 35.074 33.722l1.264.086c.81.056 1.615.111 2.346.153 4.986.341 8.891 4.525 8.891 9.527v33.88c0 8.151 4.536 15.46 11.838 19.077 3.02 1.496 6.254 2.232 9.468 2.232 4.556 0 9.07-1.479 12.869-4.374 16.685-12.712 39.542-32.138 53.688-52.492 1.759-2.537 4.744-4.049 7.879-4.024 11.519.058 22.983-.007 34.21-.181-2.468 45.239-1.241 90.716 3.684 135.725.443 3.959 1.452 7.767 2.979 11.276 5.884 13.754 18.82 22.947 33.759 23.992 43.921 3.086 88.627 4.54 132.917 4.318h.073c3.478 0 6.71 1.667 8.656 4.469 14.967 21.55 39.174 42.113 56.841 55.565 3.945 3.009 8.634 4.547 13.367 4.547 3.334 0 6.691-.764 9.825-2.315 7.591-3.757 12.307-11.354 12.307-19.825v-35.94c0-5.541 4.337-10.178 9.828-10.555 1.208-.076 2.414-.16 3.63-.244l.276-.02c19.189-1.345 34.642-16.218 36.74-35.354.223-2.004.436-4.008.638-6.013.417-4.121-2.586-7.8-6.707-8.216-4.13-.414-7.8 2.587-8.217 6.708-.198 1.956-.405 3.911-.623 5.876-1.309 11.931-10.932 21.199-22.877 22.036l-.273.019c-1.18.083-2.351.164-3.567.24-13.373.917-23.848 12.127-23.848 25.522v35.94c0 2.769-1.48 5.154-3.961 6.382-2.467 1.222-5.25.956-7.446-.719-16.813-12.801-39.762-32.247-53.613-52.192-4.754-6.842-12.584-10.911-20.963-10.911-.058 0-.116 0-.174 0-43.901.221-88.229-1.221-131.779-4.282-9.304-.65-17.357-6.371-21.036-14.971-.947-2.177-1.567-4.533-1.842-6.983-6.44-58.858-6.44-118.55 0-177.416 1.305-11.885 10.924-21.119 22.87-21.957 65.096-4.567 131.136-5.495 196.287-2.758 16.159.666 32.758 1.593 49.334 2.758 11.952.838 21.574 10.072 22.879 21.954 5.15 47.079 6.197 94.802 3.111 141.844-.271 4.133 2.86 7.704 6.993 7.975 4.129.274 7.704-2.859 7.976-6.993 3.141-47.909 2.075-96.511-3.171-144.458z" /><path d="m306.285 284.649c0-12.866-6.303-23.334-14.05-23.334-7.748 0-14.051 10.468-14.051 23.334s6.303 23.334 14.051 23.334c7.747 0 14.05-10.468 14.05-23.334z" /><path d="m414.696 284.649c0-12.866-6.303-23.334-14.05-23.334-7.748 0-14.051 10.468-14.051 23.334s6.303 23.334 14.051 23.334c7.747 0 14.05-10.468 14.05-23.334z" /><path d="m346.44 368.867c23.092 0 43.813-13.755 52.787-35.042 1.609-3.817-.181-8.215-3.997-9.825-3.82-1.608-8.216.181-9.825 3.998-6.625 15.715-21.92 25.87-38.965 25.87-17.044 0-32.339-10.155-38.965-25.87-1.61-3.817-6.01-5.606-9.825-3.997-3.816 1.609-5.606 6.008-3.997 9.825 8.977 21.286 29.696 35.041 52.787 35.041z" /><path d="m56.705 83.51h169.56c4.142 0 7.5-3.358 7.5-7.5s-3.358-7.5-7.5-7.5h-169.56c-4.142 0-7.5 3.358-7.5 7.5s3.358 7.5 7.5 7.5z" /><path d="m233.765 119.928c0-4.142-3.358-7.5-7.5-7.5h-169.56c-4.142 0-7.5 3.358-7.5 7.5s3.358 7.5 7.5 7.5h169.56c4.143 0 7.5-3.357 7.5-7.5z" /><path d="m56.705 156.346c-4.142 0-7.5 3.358-7.5 7.5s3.358 7.5 7.5 7.5h60.501c4.142 0 7.5-3.358 7.5-7.5s-3.358-7.5-7.5-7.5z" /></g></svg>
                            <span style="float: right; padding: 5px 0px 0; color: black">Chat với người bán</span>
                        </a>
                    </center>
                </div>
            </div>
        </div>
    </div>
    <!--End Details Product-->
    <!--Slider Product-->
    @Html.Action("SimilarProduct", "Home")
    <!--End Slider Product-->
    <!-- copyright bottom -->
    <div class="copy-bottom bg-li py-4 border-top">
        <div class="container-fluid">
            <div class="d-md-flex px-md-3 position-relative text-center">
                <!-- footer social icons -->
                <div class="social-icons-footer mb-md-0 mb-3">
                    <ul class="list-unstyled">
                        <li>
                            <a href="#">
                                <span class="fa fa-facebook"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa fa-twitter"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa fa-google-plus"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa fa-instagram"></span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- //footer social icons -->
                <!-- copyright -->
                <div class="copy_right mx-md-auto mb-md-0 mb-3">
                    <p class="text-bl let">
                        © 2019 Startup. All rights reserved | Design by
                        <a href="http://w3layouts.com/" target="_blank">W3layouts</a>
                    </p>
                </div>
                <!-- //copyright -->
                <!-- move top icon -->
                <a href="#home" class="move-top text-center">
                    <span class="fa fa-level-up" aria-hidden="true"></span>
                </a>
                <!-- //move top icon -->
            </div>
        </div>
    </div>
</body>

