@using WebSelling.Models;
@model List<Product>
@{
    ViewBag.Title = "DetailsCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Category cate = (Category)Session["category"];
    WebSellingEntities db = new WebSellingEntities();
}
<style>
    .content {
        text-overflow: ellipsis;
        overflow: hidden;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        font-weight: initial;
    }
    .chuyen{
        color: black;
    }
   .chuyen:hover{
            color: #3CB371 !important;
        }
   .font{
       font-family: 'Segoe UI' !important;
   }
</style>
@Html.Action("Menu", "Menu")
@Html.Action("Css", "Home")
<div class="container" style="height: 50px">
    <div class="row">
        <div class="col-lg-12 mt-2">
            <button class="ui olive basic button font"><i class="filter icon"></i> Lọc</button>
            <button class="ui olive basic button font" data-toggle="modal" data-target="#province"><i class="map marker alternate icon"></i>Chọn Khu Vực <i class="caret down icon"></i></button>
            @{
                List<Category> category = db.Categories.ToList();
            }
            <button class="ui olive basic button font" data-toggle="modal" data-target="#category">@cate.Category_Name <i class="caret down icon"></i></button>
        </div>
    </div>
</div>
<div class="bg-li py-5">
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-3 mb-3">
                    <div class="ui link cards">
                        <div class="card">
                            <div class="image">
                                <img src="~/Content/Image/@item.Product_Img" style="height: 200px; width: 100%">
                            </div>
                            <div class="content">
                                <div class="header"><a href="@Url.Action("DetailsProduct", "Home", new { productid = item.Product_ID})" class="chuyen">@item.Product_Name</a></div>
                                <div class="meta">
                                    <p style="color: orangered"><i class="dollar sign icon"></i> @{float price = (float)item.Product_Price;} @price.ToString("#,##0") VNĐ</p>
                                </div>
                            </div>
                            <div class="extra content">
                                <span class="left floated like">
                                    <i class="like icon"></i>
                                    Yêu Thích
                                </span>
                                <span class="right floated like">
                                    <a href="@Url.Action("DetailsProduct", "Home", new { productid = item.Product_ID})" class="chuyen">Xem Chi Tiết</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                                        }
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!--Modal category-->
<div class="modal fade" id="category" tabindex="1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">  
                <h5 class="modal-title" id="exampleModalLabel">Chọn Danh Mục</h5>
                <a data-dismiss="modal" aria-label="Close">
                    <i class="times icon" aria-hidden="true"></i>
                </a>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <ul style="list-style: none; box-sizing: border-box;">
                            @foreach (var item in category)
                            {
                                <li>
                                    <a class="chuyen">@item.Category_Name</a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--//Modal category-->
<!--Modal province-->
@{ 
    List<City> cities = db.Cities.ToList();
}
<div class="modal fade" id="province" tabindex="1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Chọn Danh Mục</h5>
                <a data-dismiss="modal" aria-label="Close">
                    <i class="times icon" aria-hidden="true"></i>
                </a>
            </div>
            <div class="modal-body">
                <div class="row">
                    @foreach (var item in cities)
                    {
                        <div class="col-md-2 mb-3">
                            <table>
                                <tr>
                                    <td><a href="#" class="chuyen">@item.City_Name</a></td>
                                </tr>
                            </table>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<!--//Modal province-->
<!-- middle -->
<!-- //partners -->
<!-- copyright bottom -->
<div class="copy-bottom bg-li py-4 border-top">
    <div class="container-fluid">
        <div class="d-md-flex px-md-3 position-relative text-center">
            <!-- footer social icons -->
            <div class="social-icons-footer mb-md-0 mb-3">
                <ul class="list-unstyled">
                    <li>
                        <a href="#">
                            <span class="fa fa-facebook"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="fa fa-twitter"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="fa fa-google-plus"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="fa fa-instagram"></span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- //footer social icons -->
            <!-- copyright -->
            <div class="copy_right mx-md-auto mb-md-0 mb-3">
                <p class="text-bl let">
                    © 2019 Startup. All rights reserved | Design by
                    <a href="http://w3layouts.com/" target="_blank">W3layouts</a>
                </p>
            </div>
            <!-- //copyright -->
            <!-- move top icon -->
            <a href="#home" class="move-top text-center">
                <span class="fa fa-level-up" aria-hidden="true"></span>
            </a>
            <!-- //move top icon -->
        </div>
    </div>
</div>



