@using WebSelling.Models;
@model List<Product>
@{
    ViewBag.Title = "DetailsCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Category cate = (Category)Session["category"];
}
<link href="~/Content/PagedList.css" rel="stylesheet" />
<style>
    .content {
        text-overflow: ellipsis;
        overflow: hidden;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        font-weight: initial;
    }

    img.set {
        border-radius: 100px;
        width: 40px;
        height: 40px;
        display: inline-block;
        vertical-align: middle;
    }

    a:hover {
        color: #525f7f;
    }
</style>
@Html.Action("Menu", "Menu")
<div class="row" style="margin-left: 5%; margin-top: 2%">
    <div class="col-md-12">
        @foreach(var itemsub in Model)
        {
            <a href="#"><span class="badge badge-pill badge-default text-uppercase">@itemsub.SubCategory.SubCategory_Name</span></a>
        }
    </div>
</div>
<section style="color: #525F7F; margin-top: -5%">
    <div class="product-box">
        <div class="product-box-top" style="margin-left: 7.5%">
            @foreach (var item in Model)
            {
                <div class="product-box1" style="border: 2px solid #2E8B57; border-radius: 5px; margin-top: 3%; margin-left: -2%">
                    <div class="product-box-img">
                        <img src="~/Content/Image/@item.Product_Img" alt="" style="width: 100%">
                        <div class="blog-grid1" style="margin-top: -5%; margin-bottom: -5%">
                            <ul class="post" style="margin-left: -5%">
                                <li><i class="par"><img class="set" src="~/Content/Category/images/bl-p.jpg" /></i> Tiago</li>
                                <label>|</label>
                                <li><span>Ngày Đăng: <b>@item.Product_DateEdit.Value.ToShortDateString()</b></span></li>
                            </ul>
                        </div>
                        <span style="font-weight: 800; font-size: 22px">@item.Product_Name</span>
                        <p class="content">@Html.Raw(item.Product_Description)</p>
                        <div class="product-box-bottom">
                            <p style="color: #e50000; font-weight: 500">@{float price = (float)item.Product_Price;} @price.ToString("#,##0") VNĐ</p>
                            <a class="box-more" href="#" style="border-radius: 30px; background: #05B993; margin-left: 3%"><i class="fa fa-cart-plus"></i></a>
                            <a class="box-more" href="#" style="border-radius: 30px; background: #05B993">Xem</a>
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                </div>
            }
            <div class="clearfix"> </div>
        </div>
    </div>
</section>
<!-- middle -->
<!-- //partners -->
<!-- copyright bottom -->
<div class="copy-bottom bg-li py-4 border-top">
    <div class="container-fluid">
        <div class="d-md-flex px-md-3 position-relative text-center">
            <!-- footer social icons -->
            <div class="social-icons-footer mb-md-0 mb-3">
                <ul class="list-unstyled">
                    <li>
                        <a href="#">
                            <span class="fa fa-facebook"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="fa fa-twitter"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="fa fa-google-plus"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="fa fa-instagram"></span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- //footer social icons -->
            <!-- copyright -->
            <div class="copy_right mx-md-auto mb-md-0 mb-3">
                <p class="text-bl let">
                    © 2019 Startup. All rights reserved | Design by
                    <a href="http://w3layouts.com/" target="_blank">W3layouts</a>
                </p>
            </div>
            <!-- //copyright -->
            <!-- move top icon -->
            <a href="#home" class="move-top text-center">
                <span class="fa fa-level-up" aria-hidden="true"></span>
            </a>
            <!-- //move top icon -->
        </div>
    </div>
</div>



