@using WebSelling.Models;
@model List<Product>
@{
    ViewBag.Title = "DetailsCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Category cate = (Category)Session["category"];
    WebSellingEntities db = new WebSellingEntities();
}
<style>
    .content {
        text-overflow: ellipsis;
        overflow: hidden;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        font-weight: initial;
    }
    .chuyen{
        color: black;
    }
   .chuyen:hover{
            color: #3CB371 !important;
        }
   .font{
       font-family: 'Segoe UI' !important;
   }
</style>
@Html.Action("Menu", "Menu")
@Html.Action("Css", "Home")
<div class="container" style="height: 50px">
    <div class="row">
        <div class="col-lg-12 mt-2">
            <button class="ui olive basic button font"><i class="filter icon"></i> Lọc</button>
            <button class="ui olive basic button font" data-toggle="modal" data-target="#province"><i class="map marker alternate icon"></i>Chọn Khu Vực <i class="caret down icon"></i></button>
            <button class="ui olive basic button font" data-toggle="modal" data-target="#category">@cate.Category_Name <i class="caret down icon"></i></button>
        </div>
    </div>
</div>
<div class="py-5">
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <a href="@Url.Action("DetailsProduct", "Home", new { id = item.Product_ID})">
                    <div class="col-lg-3 mb-3">
                        <div class="ui link cards">
                            <div class="card">
                                <div class="image">
                                    <img src="~/Content/Image/@item.Product_Img" style="height: 200px; width: 100%">
                                </div>
                                <div class="content">
                                    <div class="header"><a href="@Url.Action("DetailsProduct", "Home", new { id = item.Product_ID})" class="chuyen">@item.Product_Name</a></div>
                                    <div class="meta">
                                        <p style="color: orangered"><i class="dollar sign icon"></i> @{float price = (float)item.Product_Price;} @price.ToString("#,##0") VNĐ</p>
                                    </div>
                                </div>
                                <div class="extra content">
                                    <span class="left floated like">
                                        <a href="@Url.Action("DetailsProduct", "Home", new { id = item.Product_ID})" class="chuyen">
                                            <i class="like icon"></i>Yêu Thích
                                        </a>
                                    </span>
                                    <span class="right floated like">
                                        <a href="@Url.Action("DetailsProduct", "Home", new { id = item.Product_ID})" class="chuyen">Xem Chi Tiết</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            }
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!--Modal category-->
<div class="modal fade" id="category" tabindex="1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="col-md-4" style="cursor: pointer">
                    <i class="arrow left icon"></i>
                </div>
                <div class="col-md-4">
                    <h5 class="modal-title text-center" id="exampleModalLabel">Chọn Danh Mục</h5>
                </div>
                <div class="col-md-4 text-right" style="cursor: pointer">
                    <a data-dismiss="modal" aria-label="Close">
                        <i class="times icon" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            @{
                List<Category> category = db.Categories.ToList();
            }
            <div class="ui middle aligned divided list mt--1">
                <div class="item ui inverted green basic button" style="width: 100%; height: 50px; padding: 17px 8px">
                        <div class="right floated content">
                            <i class="chevron right icon"></i>
                        </div>
                        <a href="@Url.Action("DetailsCatelogry", "Home", new { categoryid = cate.Category_ID})" style="color: black">
                            <div class="content" style="text-align: left">
                                Tất Cả
                            </div>
                        </a>
                </div>
                @foreach (var item in category)
                {
                    <div class="item ui inverted green basic button" style="width: 100%; height: 50px; padding: 17px 8px">
                        <div class="right floated content">
                            <i class="chevron right icon"></i>
                        </div>
                        <a href="@Url.Action("Category", "SeleteHome", new { id = item.Category_ID})" data-ajax="true" data-ajax-method="GET" data-ajax-update="#divAjax" data-ajax-="replace" data-ajax-loading="#divLoading" style="color: black">
                            <div class="content" style="text-align: left">
                                @item.Category_Name
                            </div>
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<!--//Modal category-->
<!--Modal province-->
@{ 
    List<City> cities = db.Cities.ToList();
}
<div class="modal fade" id="province" tabindex="1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="col-md-4" style="cursor: pointer">
                    <i class="arrow left icon"></i>
                </div>
                <div class="col-md-4">
                    <h5 class="modal-title text-center" id="exampleModalLabel">Chọn Khu Vực</h5>
                </div>
                <div class="col-md-4 text-right">
                    <a data-dismiss="modal" aria-label="Close" style="cursor: pointer">
                        <i class="times icon" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <div class="ui middle aligned divided list mt--1">
                @foreach (var item in cities)
                {
                    <div class="item ui inverted green basic button" style="width: 100%; height: 50px; padding: 17px 8px">
                        <div class="right floated content">
                            <i class="chevron right icon"></i>
                        </div>
                        <div class="content" style="text-align: left">
                            <a href="#" style="color: black">@item.City_Name</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<!--//Modal province-->
<!-- middle -->
<!-- //partners -->
<!-- copyright bottom -->
<div class="copy-bottom bg-li py-4 border-top">
    <div class="container-fluid">
        <div class="d-md-flex px-md-3 position-relative text-center">
            <!-- footer social icons -->
            <div class="social-icons-footer mb-md-0 mb-3">
                <ul class="list-unstyled">
                    <li>
                        <a href="#">
                            <span class="fa fa-facebook"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="fa fa-twitter"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="fa fa-google-plus"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="fa fa-instagram"></span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- //footer social icons -->
            <!-- copyright -->
            <div class="copy_right mx-md-auto mb-md-0 mb-3">
                <p class="text-bl let">
                    © 2019 Startup. All rights reserved | Design by
                    <a href="http://w3layouts.com/" target="_blank">W3layouts</a>
                </p>
            </div>
            <!-- //copyright -->
            <!-- move top icon -->
            <a href="#home" class="move-top text-center">
                <span class="fa fa-level-up" aria-hidden="true"></span>
            </a>
            <!-- //move top icon -->
        </div>
    </div>
</div>



