@using WebSelling.Models
@model List<Product>
<style>
    .content {
        text-overflow: ellipsis;
        overflow: hidden;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        font-weight: initial;
    }
</style>
<link href="~/Content/Layout/css/product.css" rel="stylesheet" />
<div style="background-color: #ffffff">
    <h3 style="font-weight: 600; font-family: 'Segoe UI'; margin-left: 2%; font-size: 30px">Có Thể Bạn Cần</h3>
    <div class="container" style="max-width: 1300px">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-3">
                    <figure class="snip1543">
                        <img src="~/Content/Image/@item.Product_Img" alt="@item.Product_Name" />
                        <figcaption>
                            <h6 style="color: black; font-size: 20px !important">@item.Product_Name</h6>
                            <p style="color: black">Ngày Đăng: @item.Product_DateCreate.Value.Day/@item.Product_DateCreate.Value.Month/@item.Product_DateCreate.Value.Year</p>
                            <p style="color: #ff0000">@{float price = (float)item.Product_Price;} @price.ToString("#,##0") VNĐ</p>
                        </figcaption>
                        <a href="@Url.Action("DetailsProduct", "Home", new { productid = item.Product_ID})"></a>
                    </figure>
                </div>
            }
        </div>
    </div>
</div>
<script>
    $(".hover").mouseleave(
        function () {
            $(this).removeClass("hover");
        }
    );
</script>