@model IEnumerable<WebSelling.Models.RepLi>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Repli_DateCreate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Repli_Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment.Comment_Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.User_LastName)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Repli_DateCreate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Repli_Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment.Comment_Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.User_LastName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Repli_ID }) |
                @Html.ActionLink("Details", "Details", new { id=item.Repli_ID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Repli_ID })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
