@using WebSelling.Models;
@model List<View>
@{
    ViewBag.Title = "ListProductsUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
    User user = (User)Session["user"];
    WebSellingEntities db = new WebSellingEntities();
}
<script src="https://cdn.ckeditor.com/ckeditor5/23.0.0/classic/ckeditor.js"></script>
<style>
    .chuyen {
        color: black;
    }

        .chuyen:hover {
            color: #3CB371 !important;
        }

    .font {
        font-family: 'Segoe UI' !important;
    }
</style>
@Html.Action("Menu", "Menu")
<div class="ui secondary pointing menu">
    <a class="item active" href="@Url.Action("ProductLove", "Account")" data-ajax="true" data-ajax-method="GET" data-ajax-update="#divAjax" data-ajax-="replace" data-ajax-loading="#divLoading">Sản Phẩm Yêu Thích</a>
    <a class="item" href="@Url.Action("ProductsActivate", "Account")" data-ajax="true" data-ajax-method="GET" data-ajax-update="#divAjax" data-ajax-="replace" data-ajax-loading="#divLoading">Sản Phẩm Đang Hoạt Động</a>
    <a class="item" href="@Url.Action("ProductsNoActivate", "Account")" data-ajax="true" data-ajax-method="GET" data-ajax-update="#divAjax" data-ajax-="replace" data-ajax-loading="#divLoading">Sản Phẩm Ngừng Hoạt Động</a>
    <a class="item" href="@Url.Action("MyInforUser", "Information")">Cửa Hàng</a>
</div>
<div class="bg-li py-5 mt--3">
    <div class="container" id="divAjax">
        @if (Model.Count == 0)
        {
            <div class="ui success message">
                <div class="header">
                    Không có sản phẩm.
                </div>
                <p>Bạn có thể lưu các sản phẩm bạn tâm đắc.</p>
            </div>
        }
        else
        {
            <div class="row">
                @foreach (var item in Model)
                {
                    <a href="@Url.Action("DetailsProduct", "Home", new { id = item.Product_ID})">
                    <div class="col-lg-3 mb-3">
                        <div class="ui link cards">
                            <div class="card">
                                <div class="image">
                                    <img src="~/Content/Image/@item.Product.Product_Img" style="height: 200px; width: 100%">
                                </div>
                                <div class="content">
                                    <div class="header"><a href="@Url.Action("DetailsProduct", "Home", new { id = item.Product.Product_ID})" class="chuyen">@item.Product.Product_Name</a></div>
                                    <div class="meta">
                                        <p style="color: orangered"><i class="dollar sign icon"></i> @{float price = (float)item.Product.Product_Price;} @price.ToString("#,##0") VNĐ</p>
                                    </div>
                                </div>
                                <div class="extra content">
                                    <span class="left floated like">
                                        <a href="@Url.Action("DetailsProduct", "Home", new { id = item.Product_ID})" class="chuyen">
                                            <i class="like icon"></i>Yêu Thích
                                        </a>
                                    </span>
                                    <span class="right floated like">
                                        <a href="@Url.Action("DetailsProduct", "Home", new { id = item.Product_ID})" class="chuyen">Xem Chi Tiết</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                }
            </div>
        }
        <div class="clearfix"> </div>
    </div>
</div>
<!-- copyright bottom -->
<div class="copy-bottom bg-li py-4 border-top">
    <div class="container-fluid">
        <div class="d-md-flex px-md-3 position-relative text-center">
            <!-- footer social icons -->
            <div class="social-icons-footer mb-md-0 mb-3">
                <ul class="list-unstyled">
                    <li>
                        <a href="#">
                            <span class="fa fa-facebook"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="fa fa-twitter"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="fa fa-google-plus"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="fa fa-instagram"></span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- //footer social icons -->
            <!-- copyright -->
            <div class="copy_right mx-md-auto mb-md-0 mb-3">
                <p class="text-bl let">
                    © 2019 Startup. All rights reserved | Design by
                    <a href="http://w3layouts.com/" target="_blank">W3layouts</a>
                </p>
            </div>
            <!-- //copyright -->
            <!-- move top icon -->
            <a href="#home" class="move-top text-center">
                <span class="fa fa-level-up" aria-hidden="true"></span>
            </a>
            <!-- //move top icon -->
        </div>
    </div>
</div>