@using WebSelling.Models;
@model User
@{
    User user = (User)Session["user"];
}
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Action("Menu", "Menu")
<div class="section section-components" style="margin-top: -3%">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="nav-wrapper">
                <ul class="nav nav-pills nav-fill flex-column flex-md-row" id="tabs-icons-text" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link mb-sm-3 mb-md-0" id="tabs-icons-text-1-tab" data-toggle="tab" href="#tabs-icons-text-1" role="tab" aria-controls="tabs-icons-text-1" aria-selected="true" style="background-color: #05b993; color: #fff"><i class="fa fa-sign-in mr-2"></i>Đăng Nhập</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mb-sm-3 mb-md-0" id="tabs-icons-text-2-tab" data-toggle="tab" href="#tabs-icons-text-2" role="tab" aria-controls="tabs-icons-text-2" aria-selected="false" style="color: #05b993; background-color: #fff"><i class="fa fa-user-plus mr-2"></i>Đăng Ký</a>
                    </li>
                </ul>
            </div>
            <!-- form đăng nhập-->
            <div class="card shadow">
                <div class="card-body">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="tabs-icons-text-1" role="tabpanel" aria-labelledby="tabs-icons-text-1-tab">
                            <div class="card-header bg-white pb-5">
                                <div class="text-muted text-center mb-3">
                                    <small>Đăng Nhập Bởi</small>
                                </div>
                                <div class="btn-wrapper text-center">
                                    <a href="javascript:;" class="btn btn-neutral btn-icon">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <span class="btn-inner--icon">
                                                    <img src="~/Content/UI/assets/img/icons/common/github.svg">
                                                </span>
                                            </div>
                                            <div class="col-md-7" style="margin-left: -15px">
                                                <span class="btn-inner--text">Github</span>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="javascript:;" class="btn btn-neutral btn-icon">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <span class="btn-inner--icon">
                                                    <img src="~/Content/UI/assets/img/icons/common/google.svg">
                                                </span>
                                            </div>
                                            <div class="col-md-7" style="margin-left: -15px">
                                                <span class="btn-inner--text">Google</span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="card-body px-lg-5 py-lg-5">
                                <div class="text-center text-muted mb-4">
                                    <small>Or sign in with credentials</small>
                                </div>
                                <script>
                                    function validateForm() {
                                        // Lấy giá trị của username và password
                                        var user_email = document.getElementById('user_email').value;
                                        var user_pass = document.getElementById('user_pass').value;
                                        //Kiểm tra dữ liệu hợp lệ hay không
                                        if (user_email == '' && user_pass == '') {
                                            document.getElementById("Notlogin").innerHTML = "<div class='alert alert-default alert-dismissible fade show' role='alert'><strong>Lưu ý!</strong> Bạn chưa nhập email và mật khẩu.<button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button></div>"
                                        }
                                        else if (user_pass == '') {
                                            document.getElementById("Notlogin").innerHTML = "<div class='alert alert-default alert-dismissible fade show' role='alert'><strong>Lưu ý!</strong> Bạn chưa nhập mật khẩu.<button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button></div>"
                                        }
                                        else if (user_email == '') {
                                            document.getElementById("Notlogin").innerHTML = "<div class='alert alert-default alert-dismissible fade show' role='alert'><strong>Lưu ý!</strong> Bạn chưa nhập email.<button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button></div>"
                                        }
                                        else {
                                            return true;
                                        }
                                        return false;
                                    }</script>
                                <form role="form" action="@Url.Action("Login", "Account")" method="post" onsubmit="return validateForm()">
                                    <div class="form-group mb-3">
                                        <div class="input-group input-group-alternative">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                                            </div>
                                            <input class="form-control" placeholder="Email" type="email" id="user_email" name="user_email">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group input-group-alternative">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                                            </div>
                                            <input class="form-control" placeholder="Password" type="password" name="user_pass" id="user_pass">
                                        </div>
                                    </div>
                                    <a href="#" style="font-size: 12px; color: #05b993">
                                        Quên Mật Khẩu ?
                                    </a>
                                    <br />
                                    <br />
                                    <div class="custom-control custom-control-alternative custom-checkbox">
                                        <input class="custom-control-input" id=" customCheckLogin" type="checkbox">
                                        <label class="custom-control-label" for=" customCheckLogin">
                                            <span>Ghi Nhớ Mật Khẩu</span>
                                        </label>
                                    </div>
                                    @Html.Raw(Session["Notlogin"])
                                    <div id="Notlogin"></div>
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary my-4" style="background-color: #2b6034">Đăng Nhập</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tabs-icons-text-2" role="tabpanel" aria-labelledby="tabs-icons-text-2-tab">
                            <div class="card-header bg-white pb-5">
                                <div class="text-muted text-center mb-3"><small>Đăng Ký Bằng</small></div>
                                <div class="text-center">
                                    <a href="#" class="btn btn-neutral btn-icon mr-4">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <span class="btn-inner--icon">
                                                    <img src="~/Content/UI/assets/img/icons/common/github.svg">
                                                </span>
                                            </div>
                                            <div class="col-md-7" style="margin-left: -15px">
                                                <span class="btn-inner--text">Github</span>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="btn btn-neutral btn-icon">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <span class="btn-inner--icon">
                                                    <img src="~/Content/UI/assets/img/icons/common/google.svg">
                                                </span>
                                            </div>
                                            <div class="col-md-7" style="margin-left: -15px">
                                                <span class="btn-inner--text">Google</span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="card-body px-lg-5 py-lg-5">
                                <div class="text-center text-muted mb-4">
                                    <small>Or sign up with credentials</small>
                                </div>
                                <!-- //form đăng nhập -->
                                <!-- form đăng kí -->
                                @using (Html.BeginForm("Registration", "Account", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                                {
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group">
                                        @Html.EditorFor(model => model.User_Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Email" } })
                                        @Html.ValidationMessageFor(model => model.User_Email, "", new { @class = "text-default" })
                                    </div>
                                    <div class="form-group">
                                        @Html.EditorFor(model => model.User_Pass, new { htmlAttributes = new { @class = "form-control", placeholder = "Mật Khẩu" } })
                                        @Html.ValidationMessageFor(model => model.User_Pass, "", new { @class = "text-default" })
                                    </div>
                                    <div class="form-group">
                                        @Html.EditorFor(model => model.User_Repeat, new { htmlAttributes = new { @class = "form-control", placeholder = "Nhập Lại Mật Khẩu" } })
                                        @Html.ValidationMessageFor(model => model.User_Repeat, "", new { @class = "text-default" })
                                    </div>
                                    <div class="row my-4">
                                        <div class="col-12">
                                            <div class="custom-control custom-control-alternative custom-checkbox">
                                                <input class="custom-control-input" id="customCheckRegister" type="checkbox">
                                                <label class="custom-control-label" for="customCheckRegister"><span>I agree with the <a href="#">Privacy Policy</a></span></label>
                                            </div>
                                        </div>
                                    </div>
                                    @Html.Raw(Session["TestRegistration"])
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary mt-4" style="background-color: #2b6034">Đăng Ký</button>
                                    </div>
                                }
                                <!-- //form đăng kí-->
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


