@using WebSelling.Models;
@{ 
    Admin admin = (Admin)Session["admin"];
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="assets/img/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>Light Bootstrap Dashboard by Creative Tim</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    <!-- Bootstrap core CSS     -->
    <link href="~/Content/light-bootstrap-dashboard-master/BS3/assets/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Animation library for notifications   -->
    <link href="~/Content/light-bootstrap-dashboard-master/BS3/assets/css/animate.min.css" rel="stylesheet" />

    <!--  Light Bootstrap Table core CSS    -->
    <link href="~/Content/light-bootstrap-dashboard-master/BS3/assets/css/light-bootstrap-dashboard.css?v=1.4.0" rel="stylesheet" />


    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="~/Content/light-bootstrap-dashboard-master/BS3/assets/css/demo.css" rel="stylesheet" />


    <!--     Fonts and icons     -->
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="~/Content/light-bootstrap-dashboard-master/BS3/assets/css/pe-icon-7-stroke.css" rel="stylesheet" />

</head>
<body>
    @if (admin != null)
    {
        <div class="wrapper">
            <div class="sidebar" data-color="green" data-image="~/Content/light-bootstrap-dashboard-master/BS3/assets/img/sidebar-1.jpg">
                <div class="sidebar-wrapper">
                    <div class="logo">
                        <a href="@Url.Action("Index", "HomeAdmin")" style="color: #fff" class="simple-text">
                            <svg id="Filled" height="50" viewBox="0 0 512 512" width="50" xmlns="http://www.w3.org/2000/svg"><path d="m488 152-40 192h-304l-40-192z" fill="#ea9f26" /><path d="m384 200-120 96v48h128l16-144z" fill="#2d85cc" /><path d="m448 344h-88l4.59-55.08 35.41 7.08z" fill="#eb423f" /><path d="m464 152h-80l24-48h32z" fill="#ffd33a" /><path d="m488 152-20 96h-4v-96z" fill="none" /><path d="m488 152-24 96h-56v-48h-24v-48z" fill="#ffd33a" /><path d="m464 248v-8l-56-40-8 48h-32l-8 96h88l20-96z" fill="#248256" /><path d="m416 72h16a16 16 0 0 1 16 16v16a0 0 0 0 1 0 0h-48a0 0 0 0 1 0 0v-16a16 16 0 0 1 16-16z" fill="#ea9f26" /><path d="m224 296v48h-80l-10-48z" fill="#996046" /><path d="m256 128v72h-144l-15.043-79.167.551-.833a26.366 26.366 0 0 1 22.035-11.765 26.812 26.812 0 0 1 5.27.521c0-.174-.013-.346-.013-.521 0-20.012 16.476-36.235 36.8-36.235a36.78 36.78 0 0 1 34.651 24.022 26.362 26.362 0 0 1 49.463 12.213 25.523 25.523 0 0 1 -5.76 16.161 26.712 26.712 0 0 1 5.76-.631z" fill="#35a872" /><path d="m240 40h128v112h-128z" fill="#c48669" /><path d="m240 40h96v112h-96z" fill="#d49073" /><path d="m256 200h-40l8 48h-40l-40 48h-10l-30-144h152z" fill="#248256" /><circle cx="176" cy="440" fill="#7e8589" r="32" /><circle cx="400" cy="440" fill="#7e8589" r="32" /><path d="m296 248-16-48h-24v-48h128v48l-56 48z" fill="#eb423f" /><path d="m304 64h-32a8 8 0 0 0 0 16h32a8 8 0 0 0 0-16z" /><path d="m24 80h49.664l60.593 257.521a32.054 32.054 0 0 0 -22.257 30.479v16a32.036 32.036 0 0 0 32 32h.022a40 40 0 1 0 63.956 0h160.044a40 40 0 1 0 63.956 0h32.022a8 8 0 0 0 0-16h-320a16.019 16.019 0 0 1 -16-16v-16a16.019 16.019 0 0 1 16-16h304a8 8 0 0 0 7.832-6.368l40-192a8 8 0 0 0 -7.832-9.632h-19.056l-16.634-33.268a7.985 7.985 0 0 0 3.69-6.732v-16a24.027 24.027 0 0 0 -24-24h-16a24.027 24.027 0 0 0 -24 24v16a7.985 7.985 0 0 0 3.69 6.732l-16.634 33.268h-3.056v-104a8 8 0 0 0 -8-8h-128a8 8 0 0 0 -8 8v36.707a34.664 34.664 0 0 0 -34.313 5.324 44.993 44.993 0 0 0 -80.164 18.261 34.283 34.283 0 0 0 -20.671 8.4l-9.065-38.525a8 8 0 0 0 -7.787-6.167h-56a8 8 0 0 0 0 16zm376 336a24 24 0 1 1 -24 24 24.028 24.028 0 0 1 24-24zm-224 0a24 24 0 1 1 -24 24 24.028 24.028 0 0 1 24-24zm-67.076-256h60.014l4 32h-56.484zm19.076 81.072-7.782-33.072h54.72l4 32h-50.938zm11.042 46.928-7.53-32h35.407l-26.666 32zm42.784-24.895 3.112 24.895h-23.857zm-31.49 72.895-7.529-32h44.131l4 32zm40.726-128h18.161l5.333 32h-19.494zm6 48h55.264l1.334 32h-52.6zm28.382-48h24.882l1.334 32h-20.883zm-9.444 128h-8.938l-4-32h12.938zm16 0v-32h22.326l1.334 32zm34.34-128h7.894l10.666 32h-17.226zm2 48h35.66l-34.579 25.935zm51.986 80h-48.652l-1.334-32h51.32zm2-48h-34.326l35.434-26.575zm2-48h-22.56l-10.666-32h34.56zm2-48h-60.652l-1.334-32h63.32zm58.612 144h-16.244l2.667-32h17.577zm6-48h-18.244l2.667-32h19.577zm10.124 48 3.877-31.019 24.816 31.019zm42.241-8.678-18.658-23.322h23.517zm8.197-39.322h-44.438l4-32h47.1zm-38.433-48 3.627-29.012 34.806 29.012zm50.652-10.652-25.619-21.348h30.065zm14.443-69.348-6.662 32h-52.438l4-32zm-70.162-72a8.009 8.009 0 0 1 8-8h16a8.009 8.009 0 0 1 8 8v8h-32zm4.944 24h22.112l16 32h-54.112zm-20.944 48h14.938l-4 32h-10.938zm-5.04 48h13.978l-4 32h-47.312zm-42.96-160h16v96h-16zm-.326 112h32.326v32h-33.66zm-2 48h20.7l-21.467 18.4zm-2 48h19.632l-2.667 32h-18.3zm-2 48h17.632l-2.667 32h-16.3zm-89.674-211.8v-44.2h80v96h-80zm.559 73.381 1.101 26.419h-18.712zm-15.507-5.581-21.333 32h-22.657l-4-32zm-129.913-33.795a18.237 18.237 0 0 1 16.4-9.97 18.809 18.809 0 0 1 3.7.366 8 8 0 0 0 9.57-7.956l-.012-.41c.003-15.568 12.923-28.235 28.803-28.235a28.836 28.836 0 0 1 27.133 18.755 8 8 0 0 0 14.544 1.093 18.518 18.518 0 0 1 28.723-4.592v48.744h-126.84l-3.673-15.608a7.948 7.948 0 0 0 1.652-2.187z" /><circle cx="176" cy="440" r="8" /><circle cx="400" cy="440" r="8" /></svg> SellingClub
                        </a>
                    </div>

                    <ul class="nav">
                        <li class="active">
                            <a href="@Url.Action("Index", "HomeAdmin")">
                                <i class="pe-7s-graph"></i>
                                <p>Thống Kê</p>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Users")">
                                <i class="pe-7s-users"></i>
                                <p>Người Dùng</p>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Products")">
                                <i class="pe-7s-news-paper"></i>
                                <p>Sản Phẩm</p>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Categories")">
                                <i class="pe-7s-menu"></i>
                                <p>Danh Mục</p>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "SubCategories")">
                                <i class="pe-7s-note2"></i>
                                <p>Phân Loại Danh Mục</p>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "SubProducts")">
                                <i class="pe-7s-drawer"></i>
                                <p>Phân Loại Sản Phẩm</p>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Cities")">
                                <i class="pe-7s-map-2"></i>
                                <p>Thành Phố, Tỉnh Thành</p>
                            </a>
                        </li>
                        <li>
                            <a href="upgrade.html">
                                <i class="pe-7s-comment"></i>
                                <p>Bình Luận</p>
                            </a>
                        </li>
                        <li>
                            <a href="upgrade.html">
                                <i class="pe-7s-star"></i>
                                <p>Đánh Giá</p>
                            </a>
                        </li>
                        <li>
                            <a href="upgrade.html">
                                <i class="pe-7s-shopbag"></i>
                                <p>Giỏ Hàng</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="main-panel">
                <nav class="navbar navbar-default navbar-fixed">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="#">Admin</a>
                        </div>
                        <div class="collapse navbar-collapse">
                            <ul class="nav navbar-nav navbar-left">
                                <li>
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <i class="fa fa-dashboard"></i>
                                        <p class="hidden-lg hidden-md">Dashboard</p>
                                    </a>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <i class="fa fa-globe"></i>
                                        <b class="caret hidden-lg hidden-md"></b>
                                        <p class="hidden-lg hidden-md">
                                            5 Notifications
                                            <b class="caret"></b>
                                        </p>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Notification 1</a></li>
                                        <li><a href="#">Notification 2</a></li>
                                        <li><a href="#">Notification 3</a></li>
                                        <li><a href="#">Notification 4</a></li>
                                        <li><a href="#">Another notification</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="">
                                        <i class="fa fa-search"></i>
                                        <p class="hidden-lg hidden-md">Search</p>
                                    </a>
                                </li>
                            </ul>

                            <ul class="nav navbar-nav navbar-right">
                                <li>
                                    <a href="">
                                        <p>@admin.Admin_Name</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("LogoutAdmin", "HomeAdmin")">
                                        <p>Đăng Xuất</p>
                                    </a>
                                </li>
                                <li class="separator hidden-lg"></li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <!--Content-->
                @RenderBody()
                <!--Content-->
                <footer class="footer">
                    <div class="container-fluid">
                        <nav class="pull-left">
                            <ul>
                                <li>
                                    <a href="#">
                                        Home
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Company
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Portfolio
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Blog
                                    </a>
                                </li>
                            </ul>
                        </nav>
                        <p class="copyright pull-right">
                            &copy;
                            <script>document.write(new Date().getFullYear())</script> <a href="http://www.creative-tim.com">Creative Tim</a>, made with love for a better web
                        </p>
                    </div>
                </footer>

            </div>
        </div>
    }
    else
    {
        <div class="wrapper">
            <div class="sidebar" data-color="green" data-image="~/Content/light-bootstrap-dashboard-master/BS3/assets/img/sidebar-1.jpg">
                <div class="sidebar-wrapper">
                    <div class="logo">
                        <a href="@Url.Action("Index", "HomeAdmin")" style="color: #fff" class="simple-text">
                            <svg id="Filled" height="50" viewBox="0 0 512 512" width="50" xmlns="http://www.w3.org/2000/svg"><path d="m488 152-40 192h-304l-40-192z" fill="#ea9f26" /><path d="m384 200-120 96v48h128l16-144z" fill="#2d85cc" /><path d="m448 344h-88l4.59-55.08 35.41 7.08z" fill="#eb423f" /><path d="m464 152h-80l24-48h32z" fill="#ffd33a" /><path d="m488 152-20 96h-4v-96z" fill="none" /><path d="m488 152-24 96h-56v-48h-24v-48z" fill="#ffd33a" /><path d="m464 248v-8l-56-40-8 48h-32l-8 96h88l20-96z" fill="#248256" /><path d="m416 72h16a16 16 0 0 1 16 16v16a0 0 0 0 1 0 0h-48a0 0 0 0 1 0 0v-16a16 16 0 0 1 16-16z" fill="#ea9f26" /><path d="m224 296v48h-80l-10-48z" fill="#996046" /><path d="m256 128v72h-144l-15.043-79.167.551-.833a26.366 26.366 0 0 1 22.035-11.765 26.812 26.812 0 0 1 5.27.521c0-.174-.013-.346-.013-.521 0-20.012 16.476-36.235 36.8-36.235a36.78 36.78 0 0 1 34.651 24.022 26.362 26.362 0 0 1 49.463 12.213 25.523 25.523 0 0 1 -5.76 16.161 26.712 26.712 0 0 1 5.76-.631z" fill="#35a872" /><path d="m240 40h128v112h-128z" fill="#c48669" /><path d="m240 40h96v112h-96z" fill="#d49073" /><path d="m256 200h-40l8 48h-40l-40 48h-10l-30-144h152z" fill="#248256" /><circle cx="176" cy="440" fill="#7e8589" r="32" /><circle cx="400" cy="440" fill="#7e8589" r="32" /><path d="m296 248-16-48h-24v-48h128v48l-56 48z" fill="#eb423f" /><path d="m304 64h-32a8 8 0 0 0 0 16h32a8 8 0 0 0 0-16z" /><path d="m24 80h49.664l60.593 257.521a32.054 32.054 0 0 0 -22.257 30.479v16a32.036 32.036 0 0 0 32 32h.022a40 40 0 1 0 63.956 0h160.044a40 40 0 1 0 63.956 0h32.022a8 8 0 0 0 0-16h-320a16.019 16.019 0 0 1 -16-16v-16a16.019 16.019 0 0 1 16-16h304a8 8 0 0 0 7.832-6.368l40-192a8 8 0 0 0 -7.832-9.632h-19.056l-16.634-33.268a7.985 7.985 0 0 0 3.69-6.732v-16a24.027 24.027 0 0 0 -24-24h-16a24.027 24.027 0 0 0 -24 24v16a7.985 7.985 0 0 0 3.69 6.732l-16.634 33.268h-3.056v-104a8 8 0 0 0 -8-8h-128a8 8 0 0 0 -8 8v36.707a34.664 34.664 0 0 0 -34.313 5.324 44.993 44.993 0 0 0 -80.164 18.261 34.283 34.283 0 0 0 -20.671 8.4l-9.065-38.525a8 8 0 0 0 -7.787-6.167h-56a8 8 0 0 0 0 16zm376 336a24 24 0 1 1 -24 24 24.028 24.028 0 0 1 24-24zm-224 0a24 24 0 1 1 -24 24 24.028 24.028 0 0 1 24-24zm-67.076-256h60.014l4 32h-56.484zm19.076 81.072-7.782-33.072h54.72l4 32h-50.938zm11.042 46.928-7.53-32h35.407l-26.666 32zm42.784-24.895 3.112 24.895h-23.857zm-31.49 72.895-7.529-32h44.131l4 32zm40.726-128h18.161l5.333 32h-19.494zm6 48h55.264l1.334 32h-52.6zm28.382-48h24.882l1.334 32h-20.883zm-9.444 128h-8.938l-4-32h12.938zm16 0v-32h22.326l1.334 32zm34.34-128h7.894l10.666 32h-17.226zm2 48h35.66l-34.579 25.935zm51.986 80h-48.652l-1.334-32h51.32zm2-48h-34.326l35.434-26.575zm2-48h-22.56l-10.666-32h34.56zm2-48h-60.652l-1.334-32h63.32zm58.612 144h-16.244l2.667-32h17.577zm6-48h-18.244l2.667-32h19.577zm10.124 48 3.877-31.019 24.816 31.019zm42.241-8.678-18.658-23.322h23.517zm8.197-39.322h-44.438l4-32h47.1zm-38.433-48 3.627-29.012 34.806 29.012zm50.652-10.652-25.619-21.348h30.065zm14.443-69.348-6.662 32h-52.438l4-32zm-70.162-72a8.009 8.009 0 0 1 8-8h16a8.009 8.009 0 0 1 8 8v8h-32zm4.944 24h22.112l16 32h-54.112zm-20.944 48h14.938l-4 32h-10.938zm-5.04 48h13.978l-4 32h-47.312zm-42.96-160h16v96h-16zm-.326 112h32.326v32h-33.66zm-2 48h20.7l-21.467 18.4zm-2 48h19.632l-2.667 32h-18.3zm-2 48h17.632l-2.667 32h-16.3zm-89.674-211.8v-44.2h80v96h-80zm.559 73.381 1.101 26.419h-18.712zm-15.507-5.581-21.333 32h-22.657l-4-32zm-129.913-33.795a18.237 18.237 0 0 1 16.4-9.97 18.809 18.809 0 0 1 3.7.366 8 8 0 0 0 9.57-7.956l-.012-.41c.003-15.568 12.923-28.235 28.803-28.235a28.836 28.836 0 0 1 27.133 18.755 8 8 0 0 0 14.544 1.093 18.518 18.518 0 0 1 28.723-4.592v48.744h-126.84l-3.673-15.608a7.948 7.948 0 0 0 1.652-2.187z" /><circle cx="176" cy="440" r="8" /><circle cx="400" cy="440" r="8" /></svg> SellingClub
                        </a>
                    </div>

                    <ul class="nav">
                        <li class="active">
                            <a href="@Url.Action("Index", "HomeAdmin")">
                                <i class="pe-7s-graph"></i>
                                <p>Thống Kê</p>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Users")">
                                <i class="pe-7s-users"></i>
                                <p>Người Dùng</p>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Products")">
                                <i class="pe-7s-news-paper"></i>
                                <p>Sản Phẩm</p>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Categories")">
                                <i class="pe-7s-menu"></i>
                                <p>Danh Mục</p>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "SubCategories")">
                                <i class="pe-7s-note2"></i>
                                <p>Phân Loại Danh Mục</p>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "SubProducts")">
                                <i class="pe-7s-drawer"></i>
                                <p>Phân Loại Sản Phẩm</p>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Cities")">
                                <i class="pe-7s-map-2"></i>
                                <p>Thành Phố, Tỉnh Thành</p>
                            </a>
                        </li>
                        <li>
                            <a href="upgrade.html">
                                <i class="pe-7s-comment"></i>
                                <p>Bình Luận</p>
                            </a>
                        </li>
                        <li>
                            <a href="upgrade.html">
                                <i class="pe-7s-star"></i>
                                <p>Đánh Giá</p>
                            </a>
                        </li>
                        <li>
                            <a href="upgrade.html">
                                <i class="pe-7s-shopbag"></i>
                                <p>Giỏ Hàng</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="main-panel">
                <nav class="navbar navbar-default navbar-fixed">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="#">Admin</a>
                        </div>
                        <div class="collapse navbar-collapse">
                            <ul class="nav navbar-nav navbar-left">
                                <li>
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <i class="fa fa-dashboard"></i>
                                        <p class="hidden-lg hidden-md">Dashboard</p>
                                    </a>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <i class="fa fa-globe"></i>
                                        <b class="caret hidden-lg hidden-md"></b>
                                        <p class="hidden-lg hidden-md">
                                            5 Notifications
                                            <b class="caret"></b>
                                        </p>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Notification 1</a></li>
                                        <li><a href="#">Notification 2</a></li>
                                        <li><a href="#">Notification 3</a></li>
                                        <li><a href="#">Notification 4</a></li>
                                        <li><a href="#">Another notification</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="">
                                        <i class="fa fa-search"></i>
                                        <p class="hidden-lg hidden-md">Search</p>
                                    </a>
                                </li>
                            </ul>

                            <ul class="nav navbar-nav navbar-right">
                                <li>
                                    <a href="">
                                        <p>Tài Khoản</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <p>Đăng Xuất</p>
                                    </a>
                                </li>
                                <li class="separator hidden-lg"></li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <!--Content-->
                @RenderBody()
                <!--Content-->
                <footer class="footer">
                    <div class="container-fluid">
                        <nav class="pull-left">
                            <ul>
                                <li>
                                    <a href="#">
                                        Home
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Company
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Portfolio
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Blog
                                    </a>
                                </li>
                            </ul>
                        </nav>
                        <p class="copyright pull-right">
                            &copy;
                            <script>document.write(new Date().getFullYear())</script> <a href="http://www.creative-tim.com">Creative Tim</a>, made with love for a better web
                        </p>
                    </div>
                </footer>

            </div>
        </div>
    }
    <!--   Core JS Files   -->
    <script src="~/Content/light-bootstrap-dashboard-master/BS3/assets/js/jquery.3.2.1.min.js" type="text/javascript"></script>
    <script src="~/Content/light-bootstrap-dashboard-master/BS3/assets/js/bootstrap.min.js" type="text/javascript"></script>

    <!--  Charts Plugin -->
    <script src="~/Content/light-bootstrap-dashboard-master/BS3/assets/js/chartist.min.js"></script>

    <!--  Notifications Plugin    -->
    <script src="~/Content/light-bootstrap-dashboard-master/BS3/assets/js/bootstrap-notify.js"></script>

    <!--  Google Maps Plugin    -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>

    <!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
    <script src="~/Content/light-bootstrap-dashboard-master/BS3/assets/js/light-bootstrap-dashboard.js?v=1.4.0"></script>

    <!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->
    <script src="~/Content/light-bootstrap-dashboard-master/BS3/assets/js/demo.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            demo.initChartist();

            $.notify({
                icon: 'pe-7s-gift',
                message: "Welcome to <b>Light Bootstrap Dashboard</b> - a beautiful freebie for every web developer."

            }, {
                type: 'info',
                timer: 4000
            });

        });</script>
</body>
</html>